<%- include("./_header.ejs") %>
    <body class="login">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <main role="main">
                <header role="banner">
            <h1>HYPATIA</h1>
        </header>
            <form class="login-section" action="/login" method="post">
                <fieldset>
                    <h1>Log In</h1>
                        <label for="username">Username</label>
                        <input type="text" placeholder="hypatia" name="username" required/>
                    
                        <label for="password">Password</label>
                        <input type="password" placeholder="1-religion" name="password" required/>            
                    
                        <button class="buttons" type="submit">Log in</button>       
                </fieldset>
            </form>
        </main>
        <footer role="contentinfo">
          <p>Don't want an account? 
            <a href="/religion"> Browse as a guest</a>
          </p>
        </footer>
    </body>
</html>