<%- include("./_header.ejs") %>
    <body class="login">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <header role="banner">
            <h1>HYPATIA</h1>
        </header>
        <main>
            <form class="login-section" action="/newUser" method="post">
                <fieldset>
                    <h1>Sign Up</h1>
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="new-user" required/>
                    
                        <label for="password">Password</label>
                        <input type="password" placeholder="new-passw0rd" name="password" required/>
                    
                        <button class="buttons" type="submit" value="Sign Up">Sign Up</button>
                </fieldset>
            </form>
        </main>
        <footer role="contentinfo">
          <p>Already registered as a user? 
            <a href="/login"> Log in </a>
          </p>
        </footer>
    </body>
</html>